html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    overflow-x: hidden;
}

::selection {
  background: #69A57D;
  color: white;         
}

.main-container {
    display: flex;
    width: 100%;
    height: 76vh;
}

.left-content {
    width: 50%;
    border-right: 1px solid black;
}

.right-content {
    width: 50%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 56px;
  border-bottom: 1px solid black;
}

.brand {
    font-family: 'Special Elite';
    margin-top: 5px;
    font-size: 14px;
    margin-left: 6px
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;                  
  margin: 0;
  padding: 0;
  font-family: "Special Elite";
  font-size: 13px;
  margin-top: 5px;
}

.menu a {
  text-decoration: none;
  color: #111827;
  padding: 8px 6px;
}

.menu a:hover {
  color: #2563eb;
}

::-webkit-scrollbar {
  display: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

h1 {
    text-align: center;
    font-family: 'Special Elite', monospace;
}

h2 {
    text-align: center;
    font-family: 'Special Elite', monospace;
}

p {
    text-align: center;
}

.title {
    font-family: 'Special Elite', monospace;
}

.title a:hover {
    text-decoration: underline;
}

@media (min-width: 769px) {

    .site-footer {
        color: #fff;
        padding: 32px 0 16px 0;
        font-size: 1rem;
        margin-top: 0vh;
        background-color: black;
        height: 100%;
    } 

    .vector {
        margin-top: 5vh;
        width: 333px;
        height: auto;
        margin-bottom: 7vh;
    }

    .typewriter {
        margin-right: 30vw;
        margin-left: 30vw;
    }

    p {
        font-size: 15px;
        line-height: 1.7;
    }

    .about-hr {
        width: 90px;
        margin-top: 0;  
    }

    .terms-hr {
        width: 240px;
    }

    .credits-hr{
        margin-top: 0;
        width: 110px;
    }

    .privacy-hr {
        width: 980px;
    }

}

@media (max-width: 768px) {
    .site-footer {
        color: #fff;
        padding: 32px 0 16px 0;
        font-size: 1rem;
        margin-top: 0vh;
        background-color: black;
        height: 100%;
    } 

    .typewriter {
        margin-right: 30px;
        margin-left: 30px;
    }

    .vector {
        margin-top: 5vh;
        width: 250px;
        height: auto;
        margin-bottom: 7vh;
    }

    p {
        font-size: small
    }

    .title {
        margin-top: 90px !important;
    }

    .about-hr {
        width: 87px;
        margin-top: 0;
    }

    .terms-hr {
        width: 240px;
    }

    .credits-hr{
        margin-top: 0;
        width: 110px;
    }

    .privacy-hr {
        width: auto;
    }


    h1 {
        font-size: 30px;
    }

    .vector {
        width: 70%;
        height: auto;
    }

}

.footer-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
  margin-bottom: 30px;
}

.copyright {
  margin: 0;
  color: black;
  font-size: small;
  color: white;
  margin-top: 10px;
}

.copyright a:hover {
    text-decoration: underline;
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 18px;
  margin-top: 10px;
  color: white;
}

.footer-links a {
  color: black;
  text-decoration: none;
  font-size: small;
  color: white;
}

.footer-links a:hover {
  text-decoration: underline;
}

a {
    text-decoration: none;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.typewriter {
    font-family: 'Courier Prime', monospace;
    font-size: 13px;
}

.typewriter a:hover {
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px solid black;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.footer-sns {
    text-align: center;
}



.box {
  display: flex;
  justify-content: center;
}


.text {
  text-align: left;
  font-family: "Noto Sans", "Noto Sans KR";
}


.separator {
  position: relative;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: auto;
  background-color: #ccc;
  transform: translateX(-50%);
}


.custom-list {
    list-style: circle ;
    font-size: 20px;
    margin-left: 10px;
    font-family: 'Special Elite';
}

.custom-list li {
    padding: 20px 0;
    text-decoration: none;
}

.custom-list li a {
    color: black;
}